@media (max-width: 1000px){

    .cabecalho .logo{
        max-width: 130px;
    }

    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 290px;
        margin: 0 auto;
    }

    .selecao-de-personagens .personagens{
        margin-top: 20px;
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 13px;
    }

    .selecao-de-personagens .lista-de-personagens{
        gap: 5px
    }

    .selecao-de-personagens .personagem img{
        width: 70px;
    }

    .personagem-selecionado .personagem-grande{
        width: 290px;
        height: 290px;
    }

    .personagem-selecionado .descricao-personagem{
        width: 70%;
        font-size: 14px;
        margin: 15px auto;
    }

}